.body {
  background-image: url('../images/Prompting-Page_BG-alt-1.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.form-block {
  width: 400px;
  justify-content: center;
  margin-bottom: 0;
  display: block;
}

.form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
}

.div-submit {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  display: flex;
}

.field-label {
  color: #fff;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: Stixtwotext, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.textarea {
  min-height: 100px;
  border-radius: 10px;
  margin-bottom: 40px;
  font-family: "Avenirnext 08", sans-serif;
  font-size: 15px;
}

.section-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  display: flex;
}

.submit-button {
  color: #770d0f;
  text-align: center;
  background-color: #ffbd00;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Stixtwotext, sans-serif;
  font-size: 16px;
}

.submit-button:hover {
  color: #fff;
  background-color: #a5a5a5;
}

.text-block {
  color: #ffbd00;
  text-align: center;
  margin-bottom: 5px;
  font-family: "Avenirnext 08", sans-serif;
  font-size: 13px;
}

.tittle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  width: 250px;
}

.section-start {
  background-image: url('../images/Artboard-110-100.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-3 {
  margin-top: 300px;
}

.section-close {
  background-image: url('../images/Artboard-110_1-100.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section-gate {
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gate-left, .gate-right {
  max-height: 100%;
  min-height: 100%;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.open {
  height: 1px;
}

.success-message {
  width: 400px;
  background-color: rgba(221, 221, 221, 0);
  margin-top: 140px;
  padding: 0;
  display: none;
}

.div-block-5 {
  justify-content: space-between;
  margin-top: 30px;
  display: flex;
}

.end-button {
  width: 150px;
  color: #770d0f;
  text-align: center;
  background-color: #ffbd00;
  border-radius: 25px;
  font-family: Stixtwotext, sans-serif;
  font-size: 16px;
}

.end-button:hover {
  color: #fff;
  background-color: #a5a5a5;
}

.loading {
  color: #770d0f;
  text-align: center;
  background-color: #ffbd00;
  border-radius: 25px;
  padding: 9px 30px;
  font-family: Stixtwotext, sans-serif;
  font-size: 16px;
  position: fixed;
}

.error-message {
  color: #fff;
  text-align: center;
  background-color: rgba(255, 222, 222, 0);
  margin-top: 30px;
}

.text-error {
  font-family: Stixtwotext, sans-serif;
  font-size: 16px;
}

.close {
  height: 1px;
}

@media screen and (max-width: 767px) {
  .form-block {
    display: block;
  }

  .form {
    width: auto;
    margin-top: 60px;
  }

  .div-submit {
    padding-top: 0;
  }

  .tittle {
    margin-bottom: 0;
  }

  .div-block-3 {
    margin-top: 250px;
  }

  .success-message {
    margin-top: 20px;
    display: none;
  }

  .div-block-5 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .form-block {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .textarea {
    min-height: 90px;
    margin-bottom: 30px;
  }

  .section-form {
    width: 100%;
    display: flex;
  }

  .submit-button {
    margin-left: 60px;
    margin-right: 60px;
  }

  .text-block {
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
  }

  .image {
    width: 180px;
  }

  .section-start {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .success-message {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-5 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .end-button {
    width: 120px;
  }
}


@font-face {
  font-family: 'Avenirnext 08';
  src: url('../fonts/AvenirNext-Regular-08.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Stixtwotext';
  src: url('../fonts/STIXTwoText.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}